@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Container.css */

.containers {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 20px;
}

/* hader */
.custom-header {
  background-color: #f3f4f6;
  color: #4b5563;
  padding: 20px 0;
  height: 90px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.title-font {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #111827;
}

.nav-links {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
.nav-links .mr-5 {
  margin-right: 50px;
  text-decoration: none;
}

/* Carasol */

.contentStyle {
  height: "160px";
  color: "#fff";
  line-height: "160px";
  text-align: "center";
  background: "#364d79";
  width: "100%";
}

/* Footer */
.custom-footer {
  background-color: #f3f4f6;
  color: #4b5563;
  font-family: Arial, sans-serif;
  padding: 20px 0;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.custom-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111827;
}

.custom-svg {
  width: 40px;
  height: 40px;
  background-color: #5a67d8;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.custom-title {
  font-weight: 500;
  font-size: 24px;
}

.custom-text {
  font-size: 14px;
}

.custom-link {
  color: #4b5563;
  text-decoration: none;
}

.custom-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.custom-icon {
  margin-right: 10px;
  color: #4b5563;
  text-decoration: none;
}

/* Add styles for the SVGs inside the icons */
